<h1><a href="http://sstoolk.it/" rel="home">S.S. Toolkit</a></h1>

<h2 id="what-is-sstoolkit">What is S.S. Toolkit?</h2>
<p>SSToolkit is a collection of <a href="/documentation">well-documented</a> iOS classes for making life easier by solving common problems all iOS developers face. Some really handy classes are <a href="/documentation/Classes/SSCollectionView">SSCollectionView</a>, <a href="/documentation/Classes/SSGradientView">SSGradientView</a>, <a href="/documentation/Classes/SSSwitch">SSSwitch</a>, and <a href="/documentation">any many more</a>.</p>

<p><a href="http://github.com/samsoffes/sstoolkit">Download the source code</a>. <a href="/documentation">Read the documentations.</a> <a href="#sample-code">See sample code</a>.</p>

<section id="social">
  <div id="social-facebook">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsstoolk.it&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
  </div>
  <div id="social-twitter">
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://sstoolk.it" data-text="SSToolkit just blew my mind. It's so full of iOS awesome." data-count="horizontal" data-related="samsoffes:Creator of SSToolkit">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
</section>

<h2 id="getting-started">Getting Started</h2>
<p>SSToolkit aims to be as easy to use as possible. There are some limitations on distributing iOS libraries, so this is the simplest way to get started with SSToolkit. It's painless after this, promise.</p>

<h2>Adding SSToolkit to Your Project</h2>
<div class="section">
  <div id="code-instructions" class="instructions">
    <section id="code-instruction-download">
      <header>
        <h3>Get the Source Code</h3>
        <ul class="segmented">
          <li><button class="active">Download</button></li>
          <li><button>Git Submodule</button></li>
        </ul>
      </header>
      <p>Run the following commands to download the source code:</p>
      <pre class="console"><code>$ mkdir -p Vendor/SSToolkit
$ curl -L http://github.com/samsoffes/sstoolkit/tarball/master | tar xz --strip 1 -C Vendor/SSToolkit</code></pre>
      <p>If you prefer, you can just download the code <a href="https://github.com/samsoffes/sstoolkit">from Github</a> and put in <code>Vendor/SSToolkit</code> (relative to your project root).</p>
    </section>
    <section id="code-instruction-submodule">
      <header>
        <h3>Get the Source Code</h3>
        <ul class="segmented">
          <li><button>Download</button></li>
          <li><button class="active">Git Submodule</button></li>
        </ul>
      </header>
      <p>Run the following command to add the submodule. Be sure you have are you in the root of your git repository.</p>
      <pre class="console"><code>$ git submodule add git://github.com/samsoffes/sstoolkit.git Vendor/SSToolkit</code></pre>
    </section>
  </div>
</div>

<div class="section">
  <div id="install-instructions" class="instructions">
    <section id="install-instruction-xcode4">
      <header>
        <h3>Adding to Your Project</h3>
        <ul class="segmented">
          <li><button class="active">Xcode 4</button></li>
          <li><button>Xcode 3</button></li>
        </ul>
      </header>
      <ol>
        <li><p>In Finder, navigate to the <code>Vendor/SSToolkit</code> folder and drag the <code>xcodeproj</code> file into your Xcode project.</p></li>
        <li><p>In Finder, drag <code>SSToolkit.bundle</code> located in <code>Vendor/SSToolkit/Resources</code> into the <code>Resources</code> folder in your Xcode project.</p></li>
        <li><p>Select your main Xcode project from the sidebar in Xcode and then select the target you want to add SSToolkit to.</p></li>
        <li><p>Select the <em>Build Phases</em> tab.</p></li>
        <li><p>Under the <em>Target Dependencies</em> group, click the plus button, select <em>SSToolkit</em> from the menu, and choose <em>Add</em>.</p></li>
        <li><p>Under the <em>Link Binary With Libraries</em> group, click the plus button, select <code>libSSToolkit.a</code> from the menu, and choose <em>Add</em>.</p></li>
        <li><p>Choose the <em>Build Settings</em> tab. Make sure <em>All</em> in the top left of the bar under the tabs.</p></li>
        <li><p>Add <code>Vendor/SSToolkit</code> to <em>Header Search Path</em> (do not click the <em>Recursive</em> checkbox).</p></li>
        <li><p>Add <code>-all_load -ObjC</code> to <em>Other Linker Flags</em>.</p></li>
      </ol>
      <p>That's it. The annoying part is over. Now to the fun part.</p>
    </section>
    <section id="install-instruction-xcode3">
      <header>
        <h3>Adding to Your Project</h3>
        <ul class="segmented">
          <li><button>Xcode 4</button></li>
          <li><button class="active">Xcode 3</button></li>
        </ul>
      </header>
      <ol>
        <li><p>In Finder, navigate to the <code>Vendor/SSToolkit</code> folder and drag the <code>xcodeproj</code> file into your Xcode project.</p></li>
        <li><p>In Finder, drag <code>SSToolkit.bundle</code> located in <code>Vendor/SSToolkit/Resources</code> into the <code>Resources</code> folder in your Xcode project.</p></li>
        <li><p>Select the SSToolkit Xcode project from the sidebar in Xcode. In the file browser on the right in Xcode, click the checkbox next to <code>libSSToolkit.a</code>. (If you don't see the file browser, hit Command-Shift-E to toggle it on.)</p></li>
        <li><p>Select your target from the sidebar and open Get Info (Command-I).</p></li>
        <li><p>Choose the <em>General</em> tab from the top.</p></li>
        <li><p>Under the <em>Direct Dependencies</em> area, click the plus button, select <em>SSToolkit</em> from the menu, and choose <em>Add Target</em>.</p></li>
        <li><p>Choose the build tab from the top of the window. Make sure the configuration dropdown at the top is set to <em>All Configurations</em>.</p></li>
        <li><p>Add <code>Vendor/SSToolkit</code> to <em>Header Search Path</em> (do not click the <em>Recursive</em> checkbox).</p></li>
        <li><p>Add <code>-all_load -ObjC</code> to <em>Other Linker Flags</em>.</p></li>
      </ol>
      <p>That's it. The annoying part is over. Now to the fun part.</p>
    </section>
  </div>
</div>

<h2 id="usage">Usage</h2>
<p>To use SSToolkit, simply add the following line to your source file. I recommend adding this to your prefix to make things easy.</p>

<pre><code><span class="brown">#import</span> <span class="red">&lt;SSToolkit/SSToolkit.h&gt;</span></code></pre>

<p>You can also import individual files instead of the whole framework (for faster compile times) by doing something like:</p>

<pre><code><span class="brown">#import</span> <span class="red">&lt;SSToolkit/SSCollectionView.h&gt;</span></code></pre>

<p>If you are going to use SSToolkit's categories, you will need to import then separately (since some people might not want to use them). You import them like this:</p>

<pre><code><span class="brown">#import</span> <span class="red">&lt;SSToolkit/SSCategories.h&gt;</span></code></pre>

<div class="clearfix">
  <a id="sample-code-sim" href="/sample-code"><img src="/images/catalog.png" alt="SSCatalog" /></a>
  
  <h2 id="sample-code">Sample Code</h2>
  <p><a href="http://github.com/samsoffes/sstoolkit/tree/master/SSCatalog" rel="external nofollow">SSCatalog</a> is included with SSToolkit. It is a universal iPhone/iPad application to demonstrate the various features of SSToolkit.</p>

  <p>Simply open the Xcode project located at <code>SSCatalog/SSCatalog.xcodeproj</code> and build. There are demos for most of SSToolkit.</p>

  <h2 id="thanks">Thanks</h2>

  <p>Huge thanks to <a href="http://github.com/samsoffes/sstoolkit/contributors">our contributors</a>, <a href="http://deallocatedobjects.com" rel="external nofollow">Jake Marsh</a>, and <a href="http://flyosity.com" rel="external nofollow">Mike Rundle</a>. Thanks to <a href="http://kylesteed">Kyle Steed</a> for the flying boat illustration.</p>

  <p>If you're using this in your project, I'd love to hear about it! <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%61%6d@%73%61%6d%73%6f%66%66.%65%73">Send me an email</a> and let me know which pieces you're using and such.</p>
</div>

<h2 id="other-libraries">Other Libraries</h2>

<p style="margin-bottom:0.5em">Here are some of my other libraries. Some of these used to be part of SSToolkit.</p>
<ul>
  <li><a href="https://github.com/samsoffes/ssziparchive">SSZipArchive</a> - Cocoa library for easily unzipping files.</li>
  <li><a href="https://github.com/samsoffes/sskeychain">SSKeychain</a> - Cocoa library for making working with the keychain less sucky.</li>
  <li><a href="https://github.com/samsoffes/ssoauthkit">SSOAuthKit</a> - iOS library for working with OAuth 1.0 provider with easy view controllers for getting a Twitter access token.</li>
  <li><a href="https://github.com/samsoffes/sstableviewcell">SSTableViewCell</a> - iOS UITableViewCell based on ABTableViewCell.</li>
  <li><a href="https://github.com/samsoffes/ssmessagesviewcontroller">SSMessagesViewController</a> - iOS Messages.app style table view controller.</li>
  <li><a href="https://github.com/samsoffes/sspersonviewcontroller">SSPeronViewController</a> - clone of Apple's ABPerson view controller in AddressBookUI.framework to allow for better customization.</li>
</ul>
