<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=680, maximum-scale=1.0" />
    <title>SSToolkit</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="top">
      <div id="boat"></div>
    </div>
    <div id="ocean">
      <section>
        <%= yield %>
      </section>
      <footer>
      	<p>&copy; 2012 <a href="http://samsoff.es" rel="external nofollow">Sam Soffes</a>. <a href="http://github.com/samsoffes/sstoolk.it" rel="external nofollow">View source on GitHub</a>.</p>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <% if ENV['RACK_ENV'] == 'production' %>
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-5609322-16','sstoolk.it');ga('send','pageview');</script>
    <% end %>
  </body>
</html>
