<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=680, maximum-scale=1.0" />
    <title>SSToolkit</title>
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <script>var_gaq=_gaq||[];_gaq.push(['_setAccount','UA-5609322-10']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();</script>
  </head>
  <body>
    <div id="top">
      <div id="boat"></div>
    </div>
    <div id="ocean">
      <section>
        <%= yield %>
      </section>
      <footer>
      	<p>&copy; 2011 <a href="http://samsoff.es" rel="external nofollow">Sam Soffes</a>. <a href="http://github.com/samsoffes/sstoolk.it" rel="external nofollow">View source on GitHub</a>.</p>
      </footer>
    </div>
  </body>
</html>
