$linkColor: #aaceff;
$linkHoverColor: #82b7ff;
$shadowColor: #1457b3;
$topBackgroundColor: #eef8fe;
$waterColor: #4b89d0;
$buttonRadius: 3px;

$codeBrownColor: #77492d;
$codeRedColor: #ce2e24;

// Mix-ins
@mixin clearfix {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
