section#code-instruction-submodule, section#install-instruction-xcode3 {
  display: none;
}

div.instructions {
  section > header {
    h3 {
      float: left;
      padding-top: 4px;
    }
    
    ul.segmented {
      float: right;
      margin-bottom: 0.5em;
      
      li {
        margin-bottom: 0;
      }
    }
  }
  
  section > header:after {
    @include clearfix;
  }
}

a#sample-code-sim {
  float:left;
  margin: -5px 10px 0 -10px;
}

section#social {
  margin: 1em auto 2em;
  width: 600px;
  
  > div {
    float: left;
    background: #fff;
    position: relative;
    @include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 1px, 2px);
    @include border-radius(5px);
    height: 35px;
    padding: 10px 0 0 10px;
    
  }
  
  div#social-facebook {
    width: 450px;
    margin-right: 10px;

    iframe {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  
  div#social-twitter {
    float: left;
    width: 110px;
    height: 20px;
    padding: 13px 10px 12px;
  }
}

section#social:after {
  @include clearfix;
}
