@import "base";
@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: 'ClumsyRegular';
  src: url('/fonts/clumsy-webfont.eot');
  src: local('☺'), url('/fonts/clumsy-webfont.woff') format('woff'), url('/fonts/clumsy-webfont.ttf') format('truetype'), url('/fonts/clumsy-webfont.svg#webfontKGJ2JUnY') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, input, button, pre, code {
  -webkit-font-smoothing: antialiased;
}

body {
  background: $waterColor;
  color: #fff;
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  @include single-text-shadow($shadowColor, 0, 1px, 0);
  line-height: 1.4em;
}

div#top {
  background: $topBackgroundColor;
  padding: 60px 0;
}

div#boat {
  background: image-url('boat.png') no-repeat;
  width: 526px;
  height: 398px;
  margin: 0 auto;
}

div#ocean {
  background: $waterColor image-url('wave.gif') repeat-x top;
  padding-top: 40px;
}

div#ocean > section {
  width: 640px;
  margin: 0 auto;
}

a {
  -webkit-transition: all 0.1s linear;
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  color: $linkHoverColor;
//  @include single-text-shadow(rgba(255, 255, 255, 0.5), 0, 1px, 0);
}

h1 {
  margin: 80px auto;
  text-align: center;
  
  a {
    font-weight: normal;
    font-family: 'ClumsyRegular';
    font-size: 55px;
    color: #fff;
    @include single-text-shadow($shadowColor, 0, 3px, 0);
    text-transform: uppercase;
    border: 0;
  }
}

div#ocean > footer {
  font-size: 13px;
  text-align: center;
  padding-bottom: 1em;
  
  p {
    margin: 0;
  }
  
  a {
    color: #fff;
  }
  
  a:hover {
    color: $linkColor;
  }
}

h2 {
  font-weight: normal;
  margin-bottom: 0.5em;
  font-family: 'ClumsyRegular';
  font-size: 24px;
  color: #fff;
  @include single-text-shadow($shadowColor, 0, 2px, 0);
}

h3 {
  font-weight: bold;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

code {
  @include single-text-shadow(none);
  padding: 0px 0.2em;
  font-family: monospace;
  
  span.red {
    color: $codeRedColor;
  }
  
  span.brown {
    color: $codeBrownColor;
  }
}

pre, div.section {
  @include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 1px, 2px);
  @include border-radius(5px);
  @include single-text-shadow(none);
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  color: #444;
  margin: 0 0 1.5em;
  padding: 10px;
  
  a {
    color: $waterColor;
  }
  
  a:hover {
    color: $shadowColor;
  }
}

div.section {
  p:last-child, ul:last-child {
    margin-bottom: 0;
  }
}

pre {
  overflow: auto;
  
  code {
    color: #444;
    padding: 0;
    @include single-text-shadow(none);
  }
}

p, ul, ol {
  margin-bottom: 1.5em;
}

ul li, ol li {
  margin: 0 0 0.5em 1.5em;
  
  p, pre {
    margin-bottom: 0.5em;
  }
}

ol li {
  list-style: decimal;
}

ul li {
  list-style: disc;
}

// Imports
@import "home";
@import "components";
